[user]
	name = Harish Kukreja
	email = harish.kukreja@gmail.com
[alias]
	b = branch
	co = checkout
	s = status
	d = diff
	l = log
[pull]
	ff = only
[core]
	autocrlf = input
[init]
	defaultBranch = master
